<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test name="TS001_Register">
        <parameter name="browser" value="chrome"></parameter>
        <classes>
            <class name="testCases.TS001_Registration">
                <methods>
<!--                    <include name="TC001_verifyDonorRegistration"/>-->
<!--                    <include name="TC002_verifyRecepientRegistration"/>-->
<!--                    <include name="TC003_verifyBothRegistration"/>-->
<!--                    <include name="TC004_verifyIncorrectEmailRegistration"/>-->
                    <include name="TC005_verifyDuplicateEmailRegistration"/>
<!--                    <include name="TC006_verifyDuplicatePhoneRegistration"/>-->
                </methods>
            </class>
        </classes>
    </test>
</suite>