<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
<!--    <test name="TS001_Register">-->
<!--        <parameter name="browser" value="chrome"></parameter>-->
<!--        <classes>-->
<!--            <class name="testCases.TS001_Registration">-->
<!--                <methods>-->
<!--                    <include name="TC001_verifyDonorRegistration"/>-->
<!--                    <include name="TC002_verifyRecepientRegistration"/>-->
<!--                    <include name="TC003_verifyBothRegistration"/>-->
<!--                    <include name="TC004_verifyIncorrectEmailRegistration"/>-->
<!--                    <include name="TC005_verifyDuplicateEmailRegistration"/>-->
<!--                    <include name="TC006_verifyDuplicatePhoneRegistration"/>-->
<!--                </methods>-->
<!--            </class>-->
<!--        </classes>-->
<!--    </test>-->

<!--    <test name="TS002_Login">-->
<!--        <parameter name="browser" value="chrome"></parameter>-->
<!--        <classes>-->
<!--            <class name="testCases.TS002_Login" />-->
<!--        </classes>-->
<!--    </test>-->

<!--    <test name="TS003_BloodAvailability">-->
<!--        <parameter name="browser" value="chrome"></parameter>-->
<!--        <classes>-->
<!--            <class name="testCases.TS003_BloodAvailability" />-->
<!--        </classes>-->
<!--    </test>-->

<!--    <test name="TS004_INeedBloodButton">-->
<!--        <parameter name="browser" value="chrome"></parameter>-->
<!--        <classes>-->
<!--            <class name="testCases.TS004_INeedBloodButton" />-->
<!--        </classes>-->
<!--    </test>-->

<!--    <test name="TS005_HomePageInfo">-->
<!--        <parameter name="browser" value="chrome"></parameter>-->
<!--        <classes>-->
<!--            <class name="testCases.TS005_HomePageInfo" />-->
<!--        </classes>-->
<!--    </test>-->

<!--    <test name="TS007_DonorProfile">-->
<!--        <parameter name="browser" value="chrome"></parameter>-->
<!--        <classes>-->
<!--            <class name="testCases.TS007_DonorProfile"></class>-->
<!--        </classes>-->
<!--    </test>-->
    
    <test name="TS013_RecipientProfileManagement">
        <parameter name="browser" value="chrome"></parameter>
        <classes>
            <class name="testCases.TS013_RecipientProfileManagement"/>
        </classes>
    </test>
<!--    <test name="TS005_HomePageInfo">-->
<!--        <parameter name="browser" value="chrome"></parameter>-->
<!--        <classes>-->
<!--            <class name="testCases.TS005_HomePageInfo" />-->
<!--        </classes>-->
<!--    </test>-->

    <test name="TS006_BloodDonationCamp">
        <parameter name="browser" value="chrome"></parameter>
        <classes>
            <class name="testCases.TS006_BloodDonationCamp" />
        </classes>
    </test>

<!--    <test name="TS009_DonationStatistics">-->
<!--        <parameter name="browser" value="chrome"></parameter>-->
<!--        <classes>-->
<!--            <class name="testCases.TS009_DonationStatistics" />-->
<!--        </classes>-->
<!--    </test>-->

<!--    <test name="TS019_AdminManagesDonors">-->
<!--        <parameter name="browser" value="chrome"></parameter>-->
<!--        <classes>-->
<!--            <class name="testCases.TS019_AdminManagesDonors" />-->
<!--        </classes>-->
<!--    </test>-->

<!--    <test name="TS011_SwitchViewWorks">-->
<!--            <parameter name="browser" value="chrome"></parameter>-->
<!--            <classes>-->
<!--                <class name="testCases.TS011_SwitchViewWorks" />-->
<!--            </classes>-->
<!--    </test>-->
</suite>